div{
    background: #ededed;
    padding: 10mm; /*similar a 10px*/
    font-family: sans-serif;
    border-left: 5px solid #999;
    margin: 1vmax;
    box-sizing: border-box;
    width: 80vw;
    height: 50vh;
}

h1{
    font-size: 0.3in; /* similar a 30px*/
    color: #333;
    height: 10vh;
}

span{
    font-size: 16px;
    color: #999;
    font-weight: 1000;
    font-style: italic;
}

p{
    font-size: 16px;
    text-align: left;
    color: #555;
    width: 80%;
}